In [1]:
import pandas as pd

def process_file(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()

    data = []
    current_signal_id = None
    for line in lines:
        if line.startswith('#,'):
            current_signal_id = line.strip().split(',')[1]
        else:
            time_point, value = line.strip().split(',')
            data.append([current_signal_id, time_point, value])

    df = pd.DataFrame(data, columns=['signal_id', 'timestamp', 'value'])
    return df

In [2]:
df = process_file(r"C:\Users\Trisss\Desktop\Capstone\Caps project\demo_upload\data\20170625")
df

        signal_id timestamp value
0      1498255288      9627     1
1      1498255288      9638     3
2      1498255288      9650     6
3      1498255288      9661     8
4      1498255288      9671    10
...           ...       ...   ...
13675  1498344071    113292  1916
13676  1498344071    113303  1910
13677  1498344071    113314  1901
13678  1498344071    113325  1907
13679  1498344071    113336  1914

[13680 rows x 3 columns]